<plugin name='excel-import' version='1.0.1' grailsVersion='2.0.0 &gt; *'>
  <author>Jean Barmash, Oleksiy Symonenko</author>
  <authorEmail>Jean.Barmash@gmail.com</authorEmail>
  <title>Excel, Excel 2007 &amp; CSV Importer Using Apache POI</title>
  <description>\
	Excel-Import plugin uses Apache POI [http://poi.apache.org/] library (v 3.6) to parse Excel files.  
      	It's useful for either bootstrapping data, or when you want to allow your users to enter some data using Excel spreadsheets. 
</description>
  <documentation>http://grails.org/plugin/excel-import</documentation>
  <type>ExcelImportGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugins.excelimport.ExcelImportService</resource>
  </resources>
</plugin>